.header {
    margin: 0;
    padding: 0;
    background-color: black;
    display: block;
    position: fixed;
    z-index: 950;
}

.nav {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 100%;
}

.nav-login {
    animation: imguci 6s normal forwards ease-in-out;
}

@keyframes imguci {
    0% {
        opacity: 0;
        margin: 0 0 0 -300px;
    }

    100% {
        opacity: 1;
        margin: 0;
    }
}

.nav>ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0 0 0 2%;
    height: 100%;
    width: 100%;
}

.nav>ul>li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 1%;
    box-sizing: border-box;
    height: 100%;
}

.nav>ul>li>a,
.nav>ul>li>a:visited {
    height: 30%;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 6px 0 4px 0;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
}

.nav>ul>li>a:hover,
.nav>ul>li>a:active {
    border-bottom-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.img-logo-nav {
    width: 65%;
    padding: 10% 0;
}

.img-logo-nav:hover {
    animation: logo 2s normal forwards ease-in-out;
}

@keyframes logo {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(1080deg)
    }
}

.img-uci {
    width: 80%;
}

.nav-login>span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}